.bg-img {
    width: 100%;
}

body {
    background-color: black;
}

.lil-vids {
    display: flex;
    flex-direction: row;
}

.lil-vid1 {
    flex: 1;
}

.lil-vid2 {
    flex: 1;
}

.lil-vid3 {
    flex: 1;
}

.lil-vid4 {
    flex: 1;
}

footer {
    color: mistyrose;
}