.bg-img {
		width: 100%;
		display: block;
    position: absolute;
}

.navbar {
	background-color: gray;
	position: relative;
	top: 10px;
  left: 100px;
}

.lineoftext1 {
    position: relative;
    top: 300px;
    left: 100px;
}

.lineoftext2 {
    position: relative;
    top: 310px;
    left: 100px;
}

.lil-vid1 {
		width: 364px;
}

.lil-vid2 {
	width: 364px;
}

.lil-vid3 {
	width: 364px;
}

.lil-vid4 {
	width: 364px;
}

.footer-atb p {
	font-size: 10px; 
}